@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

.roboto-flex-resumefont {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%) scale(1.5);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

.row {
    display: flex;
    column-gap: 3%;
}

.column {
    flex: 50%;
}

div {
    animation-name: slideIn;
    animation-duration: 0.5s;
}

body {
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgb(150, 150, 150));
}

ul {
    list-style-type: circle;
    margin: 0;
}

/* heading colors */
h1, h2, h3, h4 {
    color: #222094;
    text-align: left;
    margin: 2px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

a {
    font-size: 15px;
    padding: 0%;
}

p {
    font-size: 15px;
}
