<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="./print.css" media="print">
  <script defer src="scripts.js"></script>
  <title>Josh Noll's Resume</title>
</head>
<body>
  <header>
    <section id="header">
      <h1>{{ name }}</h1>
        {% for item in links %}
        <button type="button" onclick="window.location.href='{{ item.url }}';">
          {{ item.name }}
        </button>
        {% endfor %}
    </section>
  </header>

  <section id="summary">
    <h2>Summary</h2>
    <p>{{ summary }}</p>
  </section>

  <section id="technologies">
    <h2>Technologies</h2>
    <p>
      {%- for item in technologies | join(' | ') -%}
        {{ item }}
      {%- endfor -%}
    </p>
  </section>

  <section id="certifications">
    <h2>Certifications</h2>
    <ul>
      {% for item in certifications %}
      <li>
        <a href={{ item.link }}>{{ item.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section id="projects">
    <h2>Technical Projects</h2>
    <ul>
      {% for item in projects %}
      <li>
        <a href={{ item.link }}>{{ item.title }}</a> <span>| {{ item.content }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section id="experience">
    <h2>Experience</h2>
      {% for item in experience %}
        <h3>{{ item.title }}</h3>
        <h4>{{ item.date }}</h4>
        <ul>
          {% for accomplishment in item.accomplishments %}
          <li class="accomplishments">{{ accomplishment }}</li>
          {% endfor %}
        </ul>
        <br>
      {% endfor %}
  </section>

  <section id="education">
    <h2>Education</h2>
    <ul>
      {% for item in education %}
      <li>
        <h3>{{ item.title }}</h3>
        <h4>{{ item.school }}</h4>
      </li>
      {% endfor %}
    </ul>
  </section>

  <footer>
    <p>© 2025 - Coded from scratch by {{ name }}</p>
  </footer>
</body>
</html>