<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="./print.css" media="print">
  <script defer src="scripts.js"></script>
  <title>Josh Noll's Resume</title>
</head>
<body>
  <header>
    <section id="header">
      <h1>{{ cv.name }}</h1>
        <button type="button" onclick="window.location.href='{{ cv.website }}';">
          My Website
        </button>
        {% for social in cv.social_networks %}
        {% if social.network == 'LinkedIn' %}
        <button type="button" onclick="window.location.href='https://linkedin.com/in/{{ social.username }}';">
          My LinkedIn
        </button>
        {% elif social.network == 'GitHub' %}
        <button type="button" onclick="window.location.href='https://github.com/{{ social.username }}';">
          My GitHub
        </button>
        {% endif %}
        {% endfor %}
        <a id="pdfview" href="resume.pdf">View this resume as a PDF</a>
    </section>
  </header>

  <section id="summary">
    <h2>Summary</h2>
    <p>
      {%- for item in cv.sections.summary -%}
        {{ item }}
      {%- endfor-%}
    </p>
  </section>

  <section id="technologies">
    <h2>Technologies</h2>
    <p>
      {%- for skill in cv.sections.skills -%}
        {{ skill }}{% if not loop.last %} | {% endif %}
      {%- endfor -%}
    </p>
  </section>

  <section id="certifications">
    <h2>Certifications</h2>
    <ul>
      {% for cert in cv.sections.certifications %}
      <li>
        <strong>{{ cert.label }}:</strong> {{ cert.details | md_link | safe }}
      </li>
      {% endfor %}
    </ul>
  </section>

  <section id="projects">
    <h2>Technical Projects</h2>
    <ul>
      {% for project in cv.sections.projects %}
      <li>
        <strong>{{ project.name | md_link | safe }}</strong> <span>| {{ project.summary }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section id="experience">
    <h2>Experience</h2>
      {% for exp in cv.sections.experience %}
        <h3>{{ exp.position }}</h3>
        <h4>{{ exp.start_date }} - {{ exp.end_date }}</h4>
        <ul>
          {% for highlight in exp.highlights %}
          <li class="accomplishments">{{ highlight }}</li>
          {% endfor %}
        </ul>
        <br>
      {% endfor %}
  </section>

  <section id="education">
    <h2>Education</h2>
    <ul>
      {% for edu in cv.sections.education %}
      <li>
        <h3>{{ edu.label }}</h3>
        <h4>{{ edu.details }}</h4>
      </li>
      {% endfor %}
    </ul>
  </section>

  <footer>
    <p>© 2025 - Coded from scratch by {{ cv.name }}</p>
  </footer>
</body>
</html>
