/* Variables */
:root {
  --font-color: rgb(192, 202, 245);
  --link-color: rgb(122, 162, 247);
  --accent-color-1: rgb(158, 206, 106);
  --background-color: rgb(26, 27, 38);
  --text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

/* Global Styles  */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  text-shadow: var(--text-shadow);
  font-family: "Courier New", Courier, monospace;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header     experience"
    "summary    experience"
    "tech       experience"
    "projects   experience"
    "certs      experience"
    "certs      education";
  align-items: start;
}

body section {
  margin: 15px;
  padding: 5px;
}

body section ul,
li {
  margin-top: 15px;
  list-style-type: circle;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--accent-color-1);
}

h1 {
  font-size: 48pt;
}

/* Header */

header {
  grid-area: header;
}

header button {
  background-color: var(--link-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 100px;
}

header button:hover {
  background-color: var(--accent-color-1);
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
  box-shadow: var(--text-shadow);
}

/* Summary Section */

#summary {
  grid-area: summary;
}

/* Technologies Section */

#technologies {
  grid-area: tech;
}

/* Projects Section */

#projects {
  grid-area: projects;
}

/* Certifications Section */

#certifications {
  grid-area: certs;
}

/* Education Section */

#education {
  grid-area: education;
}

/* Experience Section  */

#experience {
  grid-area: experience;
}

/* Footer Section  */

footer {
  background-color: var(--background-color);
  font-size: 10pt;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

/* Styling for small screens */

@media screen and (max-width: 1080px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "summary"
      "tech"
      "projects"
      "certs"
      "experience"
      "education";
  }
}
